{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{movie.title}}</h1>
    <time datetime="{{movie.year}}">{{movie.year}}</time>
    <p>{{movie.description}}</p>
</main>
{% endblock %}