{% extends "layout.njk" %}
{% block content %}
<main class="container">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtubeID}}?si=8voEH_4R_NAj_Qbt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</main>
{% endblock %}